{% extends 'main.html' %}
{% block 'data' %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Transactions Tables</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Billing Detail Table</h5>
                        <span class="d-block m-t-5"><a href="/billingdetailadd/">Add</a>
                        </span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>  
                                        <th>Billing Detail Id</th>
                                        <th>Bill Id</th>
                                        <th>Product Id</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Opration</th>
                                    </tr>
                                    </thead>      
                                        {% for billingdetail in billingdetailtables %}
                                            <tr>
                                                <td>{{billingdetail.bill_d_id}}</td>
                                                <td>{{billingdetail.bill_id}}</td>
                                                <td>{{billingdetail.p_id}}</td>
                                                <td>{{billingdetail.description}}</td>
                                                <td>{{billingdetail.quantity}}</td>
                                                <td>{{billingdetail.rate}}</td><td><a href="/billingdetaildelete/{{billingdetail.bill_d_id}}"onclick="return confirm('Do you want to delete?');">Delete <a href="/billingdetailedit/{{billingdetail.bill_d_id}}">Edit</a></td></tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
{% endblock %}



