{% extends 'main.html' %}
{% block 'data' %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Transactions Tables</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Billing Table</h5>
                        <span class="d-block m-t-5"><a href="/billingadd/">Add</a>
                        </span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>  
                                        <th>Bill Id</th>
                                        <th>Sales ORder Id</th>
                                        <th>Bill Date</th>
                                        <th>Bill Total</th>
                                        <th>Opration</th>
                                    </tr>
                                    </thead>      
                                        {% for bill in billingtables %}
                                            <tr>
                                                <td>{{bill.bill_id}}</td>
                                                <td>{{bill.so_id}}</td>
                                                <td>{{bill.bill_date}}</td>
                                                <td>{{bill.total}}</td><td><a href="/billingdelete/{{bill.bill_id}}"onclick="return confirm('Do you want to delete?');">Delete <a href="/billingedit/{{bill.bill_id}}">Edit</a></td></tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
{% endblock %}
