<h1 align="center">Customers</h1>
                            <table border="1" width="90%" align="center">
                                <thead>
                                    <tr>  
                                        <th>Customer Id</th>
                                        <th>Customer Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Password</th>
                                        <th>Emial Id</th>
                                        <th>Area Name</th>
                                    </tr>
                                    </thead>      
                                        {% for customer in customers %}
                                            <tr>
                                                <td>{{customer.cust_id}}</td>
                                                <td>{{customer.customer_name}}</td>
                                                <td>{{customer.customer_address}}</td>
                                                <td>{{customer.contact_no_field}}</td>
                                                <td>{{customer.password}}</td>
                                                <td>{{customer.email_id}}</td>
                                                <td>{{customer.pincode}}</td>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
