{% extends 'main.html' %}
{% block 'data' %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Master Tables</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Employee Table</h5><a  href="/employeereport/">Report</a>
                        <span class="d-block m-t-5"><a href="/employeeadd/">Add</a></span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>  
                                        <th>Employee Id</th>
                                        <th>Employee Name</th>
                                        <th>Joining Date</th>
                                        <th>Emial Id</th>
                                        <th>Contact</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Opration</th>
                                    </tr>
                                    </thead>      
                                        {% for employee in employees %}
                                            <tr>
                                                <td>{{employee.e_id}}</td>
                                                <td>{{employee.e_name}}</td>
                                                <td>{{employee.j_date}}</td>
                                                <td>{{employee.e_email_id}}</td>
                                                <td>{{employee.e_contact}}</td>
                                                <td>{{employee.e_address}}</td>
                                                <td>{{employee.e_city}}</td><td><a href="/employeedelete/{{employee.e_id}}/"onclick="return confirm('Do you want to delete?');">Delete <a href="/employeeedit/{{employee.e_id}}/">Edit</a></td></tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
{% endblock %}