{% extends 'main.html' %}
{% block 'data' %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Transactions Tables</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Purchase Order Detail Edit</h5>
                    </div>
                    <div class="card-body">
                        <form action="/purchaseorderdetailupdate/{{purchaseorderdetail.pd_id}}/" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Purchase Order Detail Id</label>
                                        <input type="text" class="form-control" name="pdid" id="Email" aria-describedby="emailHelp" value="{{purchaseorderdetail.pd_id}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Purchase Order Id</label>
                                        <select class="form-control" name="poid">
                                            {% for purchaseorder in purchaseordertables %}
                                            <option value="{{purchaseorder.po_id}}">{{purchaseorder.po_id}}</option>
                                            {% endfor %}
                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Product Id</label>
                                        <select class="form-control" name="pid">
                                            {% for product in producttable %}
                                            <option value="{{product.p_id}}">{{product.p_name}}</option>
                                            {% endfor %}
                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Length</label>
                                        <input type="text" class="form-control" name="length" id="Email" aria-describedby="emailHelp" value="{{purchaseorderdetail.length}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Length Unit Id</label>
                                        <select class="form-control" name="lengthuid">
                                            {% for unit in unittable %}
                                            <option value="{{unit.unit_id}}">{{unit.unit_name}}</option>
                                            {% endfor %}
                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Quantity</label>
                                        <input type="text" class="form-control" name="quantity" id="Email" aria-describedby="emailHelp" value="{{purchaseorderdetail.quantity}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="floating-label" for="Email">Rate</label>
                                        <input type="text" class="form-control" name="rate" id="Email" aria-describedby="emailHelp" value="{{purchaseorderdetail.rate}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn  btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


