{% extends 'main.html' %}
{% block 'data' %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Master Tables</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Supplier Table</h5><a  href="/supplierreport/">Report</a>
                        <span class="d-block m-t-5"><a href="/supplieradd/">Add</a>
                        </span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>  
                                        <th>Supplier Id</th>
                                        <th>Supplier Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Email Id</th>
                                        <th>Opration</th>
                                    </tr>
                                    </thead>      
                                        {% for supplier in suppliers %}
                                            <tr>
                                                <td>{{supplier.supplier_id}}</td>
                                                <td>{{supplier.supplier_name}}</td>
                                                <td>{{supplier.supplier_address}}</td>
                                                <td>{{supplier.supplier_contact}}</td>
                                                <td>{{supplier.supplier_email_id}}</td><td><a href="/supplierdelete/{{supplier.supplier_id}}"onclick="return confirm('Do you want to delete?');">Delete <a href="/supplieredit/{{supplier.supplier_id}}">Edit</a></td></tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
{% endblock %}
